@import "../styles/index.css";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1.25rem;
}

.display {
  display: none;
}

.porfileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.profileImg {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.name {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: var(--fw-700);
}

.date {
  color: var(--Grayish-Blue);
}

.shareButton {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--Light-Grayish-Blue);
  display: inline-flex;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.shareButton svg {
  align-self: center;
}

@media screen and (min-width: 40.625em) {
  .wrapper {
    margin-block-end: 2rem;
  }

  .display {
    display: flex;
  }
}
